[Unit]
Description=OpenTracker service using screen
After=syslog.target

[Service]
ExecStart = /usr/bin/screen -S opentracker -dm opentracker -f /etc/opentracker/opentracker.conf
ExecStop = /usr/bin/screen -S opentracker -X quit

Restart = on-failure
Type = forking
NotifyAccess = main


[Install]
WantedBy=multi-user.target