[Unit]
Description=uWSGI in Emperor mode
After=syslog.target

[Service]
ExecStart = /usr/bin/uwsgi --ini /etc/uwsgi/uwsgi_emperor.ini
ExecStop = /usr/bin/kill -INT `cat /var/run/uwsgi.pid`
ExecReload = /usr/bin/kill -TERM `cat /var/run/uwsgi.pid`
Restart = always
Type = notify
NotifyAccess = main
PIDFile = /var/run/uwsgi.pid

[Install]
WantedBy=multi-user.target